a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

a.footer-link {
    color: #70757a;
}

a.navbar-link {
    color: #222;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
}

a.navbar-link:first-of-type {
    margin-left: 15px;
}

a.navbar-button {
    cursor: pointer;
    color: #fff;
}

.navbar-button {
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin: 0 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
}

a.navbar-button:active {
    background: #63a0ef;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),
                        0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),
                0 1px 3px 1px rgba(66,133,244,0.15);
    text-decoration: none;
}

a.navbar-button:focus,
a.navbar-button:hover:focus {
        background: #5094ed;
        -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),
                            0 1px 3px 1px rgba(66,133,244,0.15);
        box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),
                    0 1px 3px 1px rgba(66,133,244,0.15);
}

a.navbar-button:hover {
    background: #2b7de9;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),
                0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),
                0 1px 3px 1px rgba(66,133,244,0.15);
    text-decoration: none;
}

a.navbar-expand {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

a.header-link:first-of-type {
    margin-left: 15px;
}

body {
    background: #fff;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body, input, button {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;
    color: #222;
}

body, div, form {
    display: block;
}

form {
    margin-top: 0em;
}

html, body {
    min-width: 400px;
}

.alpha-container {
    display: inline;
    line-height: normal;
    white-space: nowrap;
}

.beta-container {
    display: inline-block;
    line-height: normal;
    padding: 4px;
    vertical-align: middle;
    white-space: nowrap;
}

.beta-container:first-child {
    padding-left: 4px;
}

.body-container {
    flex-direction: column;
    height: 100%;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
}

.gamma-container {
    line-height: normal;
    position: relative;
    white-space: nowrap;
}

.flex-container {
    display: flex;
}

.footer-container {
    background-color: #f2f2f2;
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
}

.footer-image {
    height: 14px;
    margin-right: 6px;
}

.footer-link {
    display: block;
    padding: 15px;
    white-space: nowrap;
}

.footer-span {
    vertical-align: top;
    white-space: nowrap;
}

.input-container {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #202124;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.left-box {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px;
}

.link-container {
    display: inline-block;
    padding-left: 15px;
}

.mag-glass-a {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.mag-glass-b {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.mag-glass-b svg {
    display: block;
    height: 100%;
    width: 100%;
}

.matryoshka-a {
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

.matryoshka-b {
    position: relative;
}

.mic {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.navbar-container {
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    flex-shrink: 0;
    padding: 6px;
}

.navbar-expand {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    padding: 8px;
    background-position: -64px -29px;
    opacity: 1;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 2px;
}

.navbar-flexbox {
    align-items: center;
    box-sizing: border-box;
    flex: 0 0 auto;
    float: right;
    height: 48px;
    justify-content: flex-end;
    line-height: normal;
    padding-right: 4px;
    vertical-align: middle;
    white-space: nowrap;
}

.non-left-aligned {
    display: inline-block;
    flex-grow: 1;
}

.right-aligned {
    color: black;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    height: 48px;
    min-width: initial;
    min-width: auto;
    position: relative;
    transition: box-shadow 250ms;
    z-index: 986;
}

.right-container {
    float: right;
    position: relative;
    display: block;
}

.special-element {
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
}

.exp-container {
    max-width: 48px !important;
    width: 48px !important;
    display: inline;
}

.right-link {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.second-line {
    height: 70px;
    padding-top: 18px;
    top: 53px;
    z-index: 0;
}

.second-line input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.second-line input[type="submit"]:focus {
    border: 1px solid #4285f4;
    outline: none;
}

.second-line input[type="submit"]:hover {
    background-color: #f8f9fa;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);    
    border: 1px solid #dadce0;
    color: #202124;
}

.search-flexbox-right {
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}

.search-flexbox-right-inside {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

#empty-container {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
}

#footer-flexbox {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px; 
}

#footer-left {
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}

#footer-right {
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}

#image-container {
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    flex-shrink: 0;
    height: calc(100% - 560px);
    max-height: 290px;
    min-height: 92px;
}

#image-figure {
    height: 100%;
    margin-top: auto;
    max-height: 92px;
    position: relative;
}

#google-logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

#search-container {
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    max-height: 160px;
    padding: 20px;
}

#search-box {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
}

.search-flexbox {
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.search-flexbox:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#search-flexbox-inside {
    flex: 1;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

#search-flexbox-left {
    align-items: center;
    padding-right: 13px;
    margin-top: -5px
}

#search-flexbox-left-inside {
    margin: auto;
}

#search-flexbox-center {
    flex: 1;
    flex-wrap: wrap;
}

#search-flexbox-center-inside {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

#zoom-pic {
    color: #9aa0a6;
    display: block;
    height: 100%;
    margin-top: 3px;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    #footer-center {
        justify-content: space-around;
        order: 0;
        width: 100%;
    }
    #footer-flexbox {
        justify-content: space-evenly;
    }
    #footer-left {
        justify-content: flex-start;
        min-width: 30%;
        order: 1;
    }
    #footer-right {
        justify-content: flex-end;
        min-width: 30%;
        order: 3;
    }
}